<div class="section-header options-header-section">
    <h2>Време е за приключения 🧭</h2>
</div>

<section id="options" class="options section">

    <div class="container" data-aos="zoom-in" data-aos-delay="100">

        <div class="row g-4">

            <div class="col-lg-4">
                <div class="options-item">
                    <div class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <h4 class="option-heading">Резервирай игра</h4>
                    <div class="text-center"><a href="#" class="buy-btn">Виж игри</a></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="options-item">
                    <div class="icon">
                        <i class="fas fa-play"></i>
                    </div>
                    <h4 class="option-heading">Стартирай своя игра</h4>
                    <div class="text-center"><a href="#" class="buy-btn">Стартирай игра</a></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="options-item">
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <h4 class="option-heading">Присъедини се към игра</h4>
                    <div class="text-center"><a href="#" class="buy-btn">Присъедини се</a></div>
                </div>
            </div>

        </div>

    </div>

</section>