<footer id="footer" class="footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="/" class="logo d-flex align-items-center">
          <span>Game of clues</span>
        </a>
        <p>Приключенията са навсякъде. 👀 Преживей твоето градско "бягство"!</p>
        <div class="social-links d-flex mt-4">
          <a href="https://www.facebook.com/gameofclues.pz/" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/game_of_clues/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
